
@import "helper/variables";
@import "helper/mixin";

@for $i from 1 through 3 {
  .ray:nth-child(3n + #{$i}) {
    background-color: lighten($base-color, $i * 5%);
  }
};

h2 {
  font-family: serif;
  text-align: center;
  color: $color;
  padding: 20px;
  
  }

.wrapper {
 text-align: center;
 font : {
  family: sans-serif;
  size: 14px;
 }
  input, button{
  padding:5px 15px;
  
  
}
 button{
  cursor: pointer;
 }
 
}