$primary-color: #546c75;
$primary-color-light: fade-out(#546c75, 0.5);
$base-color: #c4b5a2;
$bg-color: fade-out(#e1dab9, 0.8);
$color-contrast: #e6e6e6;
$color-contrast-light: #ffffff;
$color-blue-shadow: rgba(13, 110, 253, 0.25);
$btn-background-color: #faf9fd;
